---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Stack from '../components/Stack.astro';

---

<Layout>
  <Navbar />

  <main>
	<Hero />
  <Stack />
  </main>
</Layout>